<!DOCTYPE html>
<html lang=fr>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}On the road again!{% endblock %}</title>
  <meta name="description" lang="fr" content="Le blog qui va vous faire rêver!" />
  <meta name="authors" content="Audrey Passerieux et Emmanuel Guiraud" />

  {% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
  <link rel="shortcut icon" type="image/png" href="{{ asset('image/logo_mountain.png') }}"/>

  <!-- include libraries(jQuery, bootstrap) -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >

  <!-- include summernote css/js-->
  <link href="{{ asset('summernote/summernote.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}" />

  {% endblock %}


  <script src="{{ asset('summernote/summernote.js') }}"></script>
  <script src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
  <script src="{{ asset('js/animation.js') }}"></script>
  <script src="{{ asset('js/materialize.min.js') }}"></script>

</head>

<body>
  {% block navbar %}
  <nav class="amber lighten-2" role="navigation">
    <div class="navbar-wrapper container">

      <a href="/" class="brand-logo">
        <img id="logo" src="{{ asset('image/logo_mountain.png') }}"/> Travel world</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <!------ Bar de navigation horizontale-------------->
        <ul class="right hide-on-med-and-down">
          <li><a href="/" class="Accueil">Accueil</a></li>
          <!--  <li><a href="#" class="Articles">Articles</a></li>-->
          <li><a href="#" class="Inscription">Inscription</a></li>

          <li>  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
              {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
            </a>
            {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'Se connecter'|trans({}, 'FOSUserBundle') }}</a><!--a la place de login : layout.login?-->
            {% endif %}
          </li>
        </ul>

        <!------ Bar de navigation mobile-------------->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/" class="Accueil">Accueil</a></li>
          <!--<li><a href="#" class="Articles">Articles</a></li>-->
          <li><a href="#" class="Inscription">Inscription</a></li>

          <li>  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
              {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
            </a>
            {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'Se connecter'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    <!--- Parallax------------------------>

    {% block parallax %}
    <div style="width:100%;" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="center">Travel world</h1>
          <div class="row center">
            <h5 class="header col s12 light">Le blog qui vous ménera jusqu'au bout du monde</h5>
          </div>
        </div>
        <div class="parallax"><img src="{{ asset('image/pont.jpg') }}"/></div>
      </div>
    </div>

    <!-- Fin parallax -->

    {% endblock %}

    <div class="section white">
      <div class="row ">
        <div class="icon-block">

          {% block aside %}
          <aside>
            <div class="col s0 m4 l4">
              <div class="card small">
                <div class="card-image">
                  <img src="{{ asset('image/gens.jpeg') }}">
                  <span class="card-title">Présentation</span>
                </div>
                <div class="card-content">
                  <p>Voyageurs depuis 1an ! Ce blog a été crée afin de partager
                    avec le monde entier notre passion pour le voyage.</br>
                    En vous souhaitant le plus agréable des rêves.Voyageusement votre, Audrey et Emmanuel.</p>
                  </div>
                </div>
              </div>
            </aside>
            {% endblock %}

            <div id="content">

              {% block body %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>


      {% block footer %}
      <footer class="page-footer amber lighten-2 ">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Merci pour votre visite</h5>
              <p class="white-text text-lighten-4">Nous espérons vous revoir très prochainement!</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Liens (Vides...)</h5>
              <ul>
                <li><a class="white-text " href="#!">Notre messagerie</a></li>
                <li><a class="white-text " href="#!">Suivez nous sur les résaux sociaux</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container center">
            © 2016 Copyright - By Audrey Passerieux & Emmanuel Guiraud
          </div>
        </div>
      </footer>
      {% endblock %}

      {% block javascript %}
      <script type="text/javascript">
      $(document).ready(function() {
        $('#summernote').summernote();
      });
      </script>
      {% endblock %}

    </body>
    </html>
